* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html{
   scroll-behavior: smooth;
}

body {
   background-image: url('assets/Rectangle\ 2@2x.png');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

a{
   color: white;
   text-decoration: none;
}

.common-class {
   text-transform: uppercase;
   color: white;
   font-weight: bold;
}

.common-class span {
   color: #2d80c1;
}

header {
   display: flex;
   justify-content: space-between;
   background-color: rgba(0, 0, 0, 0.9);
   padding: 20px 20px;
   position: sticky;
   top: 0px;
   z-index: 2;
}

.logo img {
   height:50px;
}
.menulist ul {
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   padding-top: 15px;
}

.menulist ul li a {
   text-decoration: none;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 22px;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   padding: 0px 20px;
}

.menu img {
   padding: 0px 20px;
   height: 25px;
}

.menu-1 img {
   height: 30px;
}

.menu-2 {
   border-left: 2px solid grey;
   height: 32px;
   padding-top: 2px;
}


/* .................................hero-section-start................... */


.home {
   padding: 100px 105px 0px 105px;
   background-color: rgba(0, 0, 0, 0.8);
}

.home h1 {
   font-size: 48px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 1px;
   word-spacing: 5px;
}

.home-child {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding-top: 80px;
   color: white;
   gap: 30px;
}

.first-child {
   height: 300px;
   width: 100%;
   padding-left: 25px;
}

.first-child .btn {
   padding: 16px 26px;
   font-size: 26px;
   background-color: transparent;
   color: white;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
   border-right: 2px solid white;
   border-left: none;
   position: relative;
}

.first-child .btn::before {
   content: "";
   position: absolute;
   width: 10px;
   height: 100%;
   background-color: white;
   left: -15px;
   top: 0%;
   z-index: 1;
}

.second-child {
   height: 300px;
   width: 100%;
   display: grid;
   grid-template-rows: 1fr 1fr;
   padding-right: 200px;
   padding-top: 20px;
}

.second-child .child-1 {
   font-size: 26px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   text-align: right;
   position: relative;
}

.second-child .child-1 h5 a{
   text-decoration: none;
   color: white;
}

.second-child .child-1::before {
   content: "\2304";
   position: absolute;
   bottom: -15px;
   z-index: 1;
   left: 0;
   right: 50px;
}

.second-child .child-2 {
   padding-right: 60px;
   padding-top: 12px;
}


/* .................................hero-section-end................... */



/* .................................about-section-start................... */

.about {
   background-color: rgba(0, 0, 0, 0.9);
}

.about h1 {
   padding-left: 110px;
   padding-top: 30px;
   word-spacing: 2px;
   letter-spacing: 1px;
   font-size: 48px;
   font-family: Arial, Helvetica, sans-serif;
}

.about p {
   padding-top: 25px;
   padding-left: 115px;
   font-size: 22px;
   letter-spacing: 1px;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
}

.about .banner-1 {
   padding-top: 50px;
   padding-right: 145px;
   text-align: right;
}

.about .banner-2 {
   padding-top: 50px;
}

.banner-2 .one {
   font-size: 26px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   color: white;
   padding-left: 135px;
   position: relative;
}
.banner-2 .one h5 a{
   color: white;
   text-decoration: none;
}
.banner-2 .one ::before {
   content: "\2304";
   position: absolute;
   bottom: -20px;
   z-index: 1;
   left: 170px;
   right: 0px;
   color: white;
}


.banner-2 .two {
   padding-left: 178px;
   padding-top: 15px;
}

.products {
   background-color: rgba(0, 0, 0, 0.9);
}

.products h1 {
   padding-right: 160px;
   text-align: center;
   font-size: 45px;
   font-family: Arial, Helvetica, sans-serif;
}

.products p {
   padding-top: 20px;
   text-align: center;
   font-size: 22px;
   color: white;
   letter-spacing: 1px;
   font-family: Arial, Helvetica, sans-serif;
}

.product-list ul {
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: space-around;
   border-bottom-style: solid;
   padding-bottom: 90px;
}

.product-list ul li {
   list-style-type: none;
   text-align: center;
   padding-top: 50px;
   padding-left: 15px;
   padding-right: 15px;
   padding-bottom: 50px;
}

.product-list img {
   height: 95px;

}

.product-list h6 {
   text-transform: uppercase;
   color: #296fa5;
   font-size: 24px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 15px;
}

.product-list ul li p {
   font-size: 18px;
   font-weight: 500;
}

.product-list .hor-rule {
   border-bottom: solid;
}

.product-list .ver-rule {
   border-right: solid;
}

.solution {
   display: flex;
   justify-content: space-between;
   padding-top: 80px;
   border-bottom-style: solid;
   padding-bottom: 90px;
}

.solution .detail h1 {
   color: white;
   text-align: left;
   font-weight: bold;
}

.solution .detail ul {
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   row-gap: 20px;
   padding-top: 25px;
}

.solution .detail ul li {
   list-style-type: disc;
   color: blue;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
}

.solution .detail p {
   text-align: inherit;
   color: white;
   padding-top: 5px;
}

.solution .poster {
   padding-top: 120px;
   padding-left: 90px;
   height: -webkit-fill-available;
}

.funding {
   padding-top: 60px;
   padding-bottom: 30px;
}

.funding h1 {
   color: white;
   text-align: left;
   padding-bottom: 20px;
   font-weight: bold;
}

.fund {
   display: flex;
   justify-content: space-between;
}

.fund-type ul {
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   row-gap: 20px;
   padding-bottom: 20px;
}

.fund-type ul li {
   list-style-type: disc;
   color: #296fa5;
}

.fund-type h5 {
   color: white;
   font-size: 24px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}

.fund-type p {
   text-align: left;
   font-size: 20px;
   padding-top: 0px;
}

.fund-poster img {
   padding-top: 20px;
   height: -webkit-fill-available;
}

.port {
   text-align: center;
   padding-top: 65px;
}

.port h6 {
   color: white;
   font-size: 26px;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
   padding-bottom: 15px;
   position: relative;
}
.port h6 a{
   text-decoration: none;
   color: white;

}

.port h6::before {
   content: "\2304";
   position: absolute;
   bottom: -5px;
   z-index: 1;
   left: 0px;
   right: 0px;
   top: 20px;
}

.port img {
   padding-top: 5px;
}



/* .................................about-section-end................... */

/* .................................portfolio-section-start................... */

.portfolio {
   background-color: rgba(0, 0, 0, 0.9);
   padding-bottom: 50px;
}

.portfolio h1 {
   text-align: center;
   font-size: 45px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   letter-spacing: 3px;
}

.our-portfolio {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 75px;
   padding-top: 40px;
}

.card {
   height: 300px;
   position: relative;
   border-style: none;
}

.card .img-box {
   width: 100%;
   height: 100%;
}

.card .img-box img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.text-section {
   height: 155px;
   width: 100%;
   position: absolute;
   bottom: 0;
   background-color: rgba(0, 0, 0, .8);
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   padding: 14px;
}

.text-section p {
   text-align: center;
   color: white;
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
}

.text-section h6 {
   color: #296fa5;
   font-size: 25px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

.industry {
   text-align: center;
   padding-top: 65px;
}
.industry h6 a{
   text-decoration: none;
   color: white;
}

.industry h6 {
   color: white;
   font-size: 24px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   text-transform: uppercase;
   padding-bottom: 15px;
   position: relative;
}

.industry h6::before {
   content: "\2304";
   position: absolute;
   bottom: -5px;
   z-index: 1;
   left: 0px;
   right: 0px;
   top: 24px;
}

.industry img {
   padding-top: 5px;
}

.industries h1 {
   padding-top: 30px;
   padding-bottom: 48px;
}

.industry-section {
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   gap: 40px;
}

.industry-section h3 {
   font-size: 28px;
   font-weight: bold;
   text-align: left;
   color: rgb(46, 139, 216);
   padding-left: 20px;
}

.industry-section p {
   text-align: left;
   padding-left: 15px;
   padding-top: 10px;
   font-size: 18px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}

.automotive {
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 15px;
   padding-right: 15px;
   background: rgb(8, 7, 7);
   background: linear-gradient(90deg, rgba(8, 7, 7, 1) 0%, rgba(10, 9, 9, 1) 11%, rgba(37, 37, 37, 1) 56%, rgba(37, 37, 37, 1) 82%);
}

.e-commerce {
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 15px;
   padding-right: 15px;
   background: rgb(37, 37, 37);
   background: linear-gradient(90deg, rgba(37, 37, 37, 1) 4%, rgba(12, 11, 11, 1) 36%, rgba(10, 9, 9, 1) 52%, rgba(0, 0, 0, 1) 77%, rgba(6, 6, 6, 1) 100%);
}

.e-commerce h3 {
   font-size: 28px;
   text-align: right;
   color: rgb(46, 139, 216);
}

.e-commerce p {
   text-align: right;
   font-size: 18px;
}

.crypto {
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 15px;
   padding-right: 15px;
   background: rgb(8, 7, 7);
   background: linear-gradient(90deg, rgba(8, 7, 7, 1) 0%, rgba(10, 9, 9, 1) 11%, rgba(37, 37, 37, 1) 56%, rgba(37, 37, 37, 1) 82%);
}

.blog {
   text-align: center;
   padding-top: 65px;
   border-bottom-style: solid;
}

.blog h6 {
   color: white;
   font-size: 24px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   text-transform: uppercase;
   padding-bottom: 15px;
   position: relative;
}

.blog h6 a{
   color: white;
   text-decoration: none;
}

.blog h6::before {
   content: "\2304";
   position: absolute;
   bottom: -5px;
   z-index: 1;
   left: 0px;
   right: 0px;
   top: 24px;
}

.blog img {
   padding-top: 5px;
}


/* .................................portfolio-section-end................... */


/* ..........................blog-section-start.................. */


.blogs {
   background-color: rgba(0, 0, 0, 0.9);
   padding-bottom: 150px;
}

.blogs h1 {
   text-align: center;
   font-size: 45px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   letter-spacing: 1px;
   padding-bottom: 40px;
}

.blogs-card {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: center;
   gap: 20px;
   padding-top: 40px;
}

.cards {
   height: 300px;
   position: relative;
   border-style: none;
   padding-bottom: 50px;
}

.cards .cards-img {
   width: 100%;
   height: 100%;
}

.cards .cards-img img {
   width: 100%;
   height: 75%%;
   object-fit: cover;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}

.cards .cards-img p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   color: white;
   text-align: left;
   padding-left: 10px;
   word-spacing: 2px;
   padding-top: 20px;
}

.cards-img h6 {
   color: rgb(46, 139, 216);
   font-size: 20px;
   padding-left: 15px;
   padding-top: 5px;
   font-family: Arial, Helvetica, sans-serif;
}



/* ..........................blog-section-end.................. */

/* .....................contact-section-start.................. */


.contacts {
   background-color: rgba(0, 0, 0, 0.8);
   padding-top: 75px;
   padding-bottom: 35px;
   color: white;
}

.contact {
   display: flex;
   justify-content: space-between;
   padding-bottom: 50px;
}

.con-1 h2 {
   font-size: 45px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 2px;
}

.con-1 p {
   font-size: 23px;
   font-family: Arial, Helvetica, sans-serif;
}

.con-2 ul {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 45px;
   padding-top: 20px;
}

.con-2 ul li {
   list-style-type: none;
}

.con-2 img {
   padding-bottom: 10px;
}

.con-2 span {
   color: rgb(46, 139, 216);
   font-weight: 500;
   font-size: 27px;
   padding-left: 10px;
}

.con-2 p {
   padding-top: 2px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 23px;
   word-spacing: 2px;
}

.contacts .form {
   display: flex;
   padding: 0px 20px;
   height: 150px;
   width: 100%;
   align-items: center;
   gap: 20px;
   border: none;
   background-color: #383a3c;
   opacity: 0.6;
}

.form h6 {
   color: white;
   font-weight: bold;
}

.form-control {
   padding: 25px 15px;
   background-color: #ffffff;
   opacity: 0.;
   border: none;
}

#name {
   padding-top: 25px;
   padding-bottom: 25px;
   padding-right: 85px;
   text-align: left;
}

.button {
   background-color: #2d80c1;
   padding: 13px 60px;
   margin-top: 23px;
   color: white;
   border: none;
}

.footer {
   padding-top: 60px;
   text-align: center;
   color: gray;
}





/* .....................contact-section-end.................. */



.right{
   color: white;
   position: fixed;
   top:40%;
   right:-35px;
   transform-origin: bottom;
   transform: rotate(-90deg);
}
.right h5 a{
   color: white;
   text-decoration: none;
   font-size: 15px;
}




